<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= developerItem.title %> - Games Inventory
    </title>
</head>

<body>
    <%- include("../partials/header")%>
        <div>
            <h3>
                <%= developerItem.name %>
            </h3>
            <div><button>Edit Developer</button><button>Delete Developer</button></div>
            <div>
                <h3>Details</h3>
                <p>Country: <%= developerItem.country %></p>
                <p>Headquaters: <%= developerItem.headquaters %></p>
                <p>Website: <%= developerItem.website %></p>
            </div>
        </div>
</body>

</html>