<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Developers - Games Inventory</title>
</head>

<body>
    <%- include("../partials/header")%>
        <div>
            <h3>Developers</h3>
            <a href="/developers/add"><button type="button">Add New Developer</button></a>
        </div>
        <table>
            <thead>
                <tr>
                    <th>NAME</th>
                    <th>COUNTRY</th>
                    <th>HEADQUATERS</th>
                    <th>WEBSITE</th>
                    <th>ACTIONS</th>
                </tr>
            </thead>
            <tbody>
                <% developersData.forEach( (developer)=> {%>
                    <tr>
                        <td>
                            <%= developer.name %>
                        </td>
                        <td>
                            <%= developer.country %>
                        </td>
                        <td>
                            <%= developer.headquaters %>
                        </td>
                        <td><a href=<%=developer.website %>><%= developer.website %></a></td>
                        <td><%- include("../partials/actions") %></td>
                    </tr>
                    <%})%>
            </tbody>
        </table>
</body>

</html>