<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Games - Games Inventory</title>
</head>

<body>
    <%- include("../partials/header")%>
        <div>
            <h3>Games</h3>
            <a href="/games/add"><button type="button">Add New Game</button></a>
        </div>
        <table>
            <thead>
                <tr>
                    <th>TITLE</th>
                    <th>DEVELOPERS</th>
                    <th>GENRE</th>
                    <th>QUANTITY</th>
                    <th>ACTIONS</th>
                </tr>
            </thead>
            <tbody>
                <% gamesData.forEach((data)=> { %>
                    <tr>
                        <td>
                            <%= data.title %>
                        </td>
                        <td>
                            <%= data.developers %>
                        </td>
                        <td>
                            <%= data.genre %>
                        </td>
                        <td>
                            <%= data.quantity %>
                        </td>
                        <td><%- include("../partials/actions", {id: data.id, parentRoute: "games"}) %></td>
                    </tr>
                    <% }) %>
            </tbody>

        </table>
</body>

</html>