<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Developer</title>
</head>

<body>
    <%- include("../partials/header", {title: "Add New Developer" })%>
    <% if (edit === true) {%>
        <h2>Edit Developer</h2>
        <form action="/developers/<%= developerItem.id %>/edit" method="post">
    <%} else {  %>
        <h2>Add New Developer</h2>
        <form action="/developers/add" method="post">
    <% } %>
            <div>
                <label for="name">Name</label>
                <% if (edit === true) {%>
                    <input type="text" name="name" id="name" value="<%= developerItem.name %>">
                <%} else {  %>                    
                    <input type="text" name="name" id="name">
                <% } %>
            </div>
            <div>
                <label for="country">Country</label>
                <% if (edit === true) {%>
                    <input type="text" name="country" id="country" value="<%= developerItem.country %>">
                <%} else {  %>                    
                    <input type="text" name="country" id="country">
                <% } %>
                
            </div>
            <div>
                <label for="headquaters">Headquaters</label>
                <% if (edit === true) {%>
                    <input type="text" name="headquaters" id="headquaters" value="<%= developerItem.headquaters%>">
                <%} else {  %>                    
                    <input type="text" name="headquaters" id="headquaters">
                <% } %>
                
            </div>
            <div>
                <label for="website">Website</label>
                <% if (edit === true) {%>
                    <input type="text" name="website" id="website" value="<%= developerItem.website%>">
                <%} else {  %>                    
                    <input type="text" name="website" id="website">
                <% } %>
            </div>
            <div>
                <button>Cancel</button>
                <%if (edit===true ) {%>
                    <button type="submit">Save Changes</button>
                    <%} else { %>
                        <button type="submit">Create Genre</button>
                        <% }%>
            </div>
        </form>

</body>

</html>