<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Game - Games Inventory</title>
</head>

<body>
    <%- include("../partials/header")%>
        <h2>Add New Game</h2>
        <form action="/games/add" method="POST">
            <section>
                <h3>Game Details</h3>
                <div>
                    <label for="title">Title</label>
                    <input type="text" id="title" name="title">
                </div>
                <div>
                    <label for="releaseDate">Release date</label>
                    <input type="date" id="releaseDate" name="releaseDate">
                </div>
                <div>
                    <label for="quantity">Quantity</label>
                    <input type="number" id="quantity" name="quantity">
                </div>

            </section>
            <section>
                <h3>Genre</h3>
                <div>
                    <select name="genre" id="genre">
                        <option value="">--Please select a genre--</option>
                        <% allGenres.forEach((genre)=> {%>
                            <option value="<%= genre.id %>">
                                <%= genre.name %>
                            </option>
                            <%})%>
                    </select>
                </div>
            </section>
            <section>
                <h3>Developers</h3>
                <% allDevelopers.forEach((developer)=> {%>
                    <span>
                        <label for="<%= developer.name %>">
                            <input id="<%= developer.name %>" name="developer" type="checkbox" value="<%= developer.id %>">
                            <%= developer.name %>
                        </label>
                    </span>
                    <%})%>
            </section>
            <div><button>Cancel</button><button type="submit">Create Game</button></div>
        </form>
</body>

</html>